{name, "emonk"}.
{description, "Accidentally Refactored erlang_js (SpiderMonkey binding)"}.
{homepage, "https://github.com/davisp/emonk"}.
{url, {git, "https://github.com/davisp/emonk.git", {branch, "master"}}}.
{authors, ["Paul J. Davis <paul.joseph.davis@gmail.com>"]}.
{license, "MIT", "LICENSE"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
